@model Films.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer" class="control-label"></label>
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class="form-control" asp-items="ViewBag.OwnerId"></select>
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                @*<label asp-for="PosterFileNameOnDisk" class="control-label"></label>*@
                <input asp-for="PosterFileNameOnDisk" type="hidden" class="form-control" />
                @*<span asp-validation-for="PosterFileNameOnDisk" class="text-danger"></span>*@
            </div>
            <div class="form-group d-none">
                @*<label asp-for="PosterFileNameOriginally" class="control-label"></label>*@
                <input asp-for="PosterFileNameOriginally" type="hidden" class="form-control" />
                @*<span asp-validation-for="PosterFileNameOriginally" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <img width="100" id="img" />
                <label class="control-label">Выберите файл</label>
                <input type="file" id="poster" name="poster" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/imgPreviiew.js"></script>
}
